
FtcRobotController/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
.gradle/3.5/taskHistory/taskHistory.lock
.idea/
.gradle/3.5/taskHistory/taskHistory.lock
doc/javadoc
